.service,
.contact,
.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.service-content,
.contact-content,
.home-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #F8F9FA;
}